@page "/"
@page "/start/{condition}"
@rendermode InteractiveServer
@inject NavigationManager NavManager
@inject IJSRuntime Jsruntime
@inject ProtectedLocalStorage BrowserStorage
@inject StringService StringService
@using BlazorApp1.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using System.IO;
@using Blazored.TextEditor

<div asp-validation-summary="ModelOnly" class="text-editor"> </div>
<div class="col-sm-12 col-lg-6">
    <BlazoredTextEditor @ref="@QuillHtml" Placeholder="Enter your Text here..">
        <ToolbarContent>
            <select class="ql-header">
                <option selected=""></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
            </select>
            <span class="ql-formats">
                <button class="ql-bold"></button>
                <button class="ql-italic"></button>
                <button class="ql-underline"></button>
                <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
                <select class="ql-color"></select>
                <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
                <button class="ql-list" value="ordered"></button>
                <button class="ql-list" value="bullet"></button>
            </span>
            <span class="ql-formats">
                <button class="ql-link"></button>
            </span>
        </ToolbarContent>
        <EditorContent>
            @if(text != "")
            @((MarkupString)text)
        </EditorContent>
    </BlazoredTextEditor>
</div>
<br />
<button type="button" class="btn btn-primary btn-sm" @onclick="OnSubmitCreate">Edit your text with AI</button>